<div>
  <%- @house.members.each do |user| -%>
    <%= user.name -%>
    <%= @house.percent_ownership(user) =%>
    <ol>
      <%- @house.investments.by_user(user).each do |investment| -%>
        <li>
          <div><%= investment.amount -%></div>
          <div><%= investment.limited_equity -%></div>
        </li>
      <%- end -%>
    </ol>
  <%- end -%>
</div>
