<div>
  <%- @house.members.each do |user| -%>
    <%= user.name -%>
    <%= @house.percent_ownership(user) =%>
    <ol>
      <%- @house.investments.by_user(user).each do |investment| -%>
        <li>
        <%= investment.amount -%>
        <%= investment.limited_equity -%>
        </li>
      <%- end -%>
    </ol>
  <%- end -%>
</div>
