<div>
  <h1>Investments</h1>
  <%- @house.members.each do |user| -%>
    <%= user.name -%>
    <%= @house.percent_ownership(user) =%>
    <ol>
      <%= render 'houses/investment',
        :collection => @house.investments.by_user(user) do |investment| -%>
    </ol>
  <%- end -%>
</div>
<div>
  <h1>Expenses</h1>
  <ol>
    <%= render 'houses/expense', :collection => @house.expenses -%>
  </ol>
</div>
