// Place all the styles related to the houses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  width: 600px;
  background-color: #eee;
  font: {
    family: "Helvetica", sans-serif;
    size: 13px;
  }
}

#ledger {
  li {
    border-bottom: solid 1px #333;
    span {
      display: inline-block;
      padding: 5px
    }
    a { float: right; }
  }
  .date { width: 200px }
  .name, .amount { width: 100px; }
}
